<div class="d-flex justify-content-center align-items-center vw-100 vh-100 bg-">
  <div>
    <form >
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="username" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="password"
        />
      </div>
      <button type="submit" class="btn btn-info">Info</button>
    </form>
  </div>
</div>